* {
  margin: 0;
  padding: 0; }

header {
  font-family: "Myriad Pro";
  color: #d7794a;
  font-size: 32px; }

.root__menu_top a {
  font-size: 24;
  font-weight: 400; }

.text__welcome {
  text-transform: uppercase;
  font-family: 'Athelas';
  font-size: 60px;
  color: white;
  letter-spacing: 1.8px; }

.text__company {
  text-transform: uppercase;
  font-family: 'Athelas';
  font-size: 36px;
  color: #d7794a;
  width: 27%; }

.team__title {
  text-transform: uppercase;
  font-family: 'Athelas';
  font-weight: 400;
  font-size: 55px;
  color: #d7794a; }

.team__description {
  font-family: 'Helvetica';
  font-size: 20px;
  color: black; }

.team__item {
  font-family: 'Helvetica'; }

.item__title {
  font-size: 23px; }

.item__desc {
  font-size: 16px; }

.counter__digits {
  color: #995437;
  font-family: 'Vani';
  font-size: 51px;
  font-weight: bold; }

.counter__text {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 15px;
  text-align: center; }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.otf"); }
@font-face {
  font-family: "Athelas-Regular";
  src: url("../fonts/Athelas-Regular.ttf"); }
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.otf"); }
@font-face {
  font-family: "VaniBold";
  src: url("../fonts/VaniBold.ttf"); }
@font-face {
  font-family: "QuattrocentoSans-Regular";
  src: url("../fonts/QuattrocentoSans-Regular.otf"); }
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden; }

.wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

body {
  min-width: 1080px; }

header {
  min-height: 100px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.content {
  max-width: 1542px;
  margin: 0 auto; }

.root__menu_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 77px;
  background: rgba(137, 141, 143, 0.8);
  top: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.root__menu_top div:first-child {
  margin-left: 35px; }

.root__menu_top div:first-child a {
  margin-left: 35px; }

.root__menu_top a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white; }

.root__menu_top div:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: black;
  background: #688e9e;
  opacity: 20%; }

.root__img_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 700px;
  background-image: url(../img/photo.jpg);
  background-size: cover; }

.slider__text-name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 90%;
  bottom: 257px; }

.content_team {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.team__title {
  margin-top: 40px;
  padding: 17px; }

.team__decoration_line {
  background-color: #a95e39;
  width: 400px;
  height: 2px; }

.team__description {
  width: 810px;
  margin: 128px;
  text-align: center; }

.team__items-block {
  margin: 70px 80px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.team__item {
  width: 300px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.item__img {
  width: 300px;
  height: 350px;
  background: grey;
  margin-bottom: 40px; }

.item__title {
  text-align: center;
  margin-bottom: 40px; }

.item__desc {
  text-align: center;
  margin-bottom: 80px; }

.root__counter {
  width: 100%;
  height: 240px;
  background: #1b2b31;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.counter__content {
  margin: 0 80px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.counter__item {
  margin: 0 60px 0 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.counter__text {
  text-align: center; }

.root__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 700px;
  background-image: url(../img/texture.jpeg);
  background-size: cover; }

.registr__form {
  width: 100%;
  background: #23404d;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.form__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.contact__title {
  margin-top: 115px;
  padding: 17px;
  text-transform: uppercase;
  font-family: 'Athelas';
  font-weight: 400;
  font-size: 32px;
  color: white; }

.contact__description {
  width: 435px;
  margin: 16px;
  text-align: center;
  font-family: 'quattrocento sans';
  font-size: 15px;
  color: #a3a3a3;
  letter-spacing: 0.6px; }

.form {
  width: 750px;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form > input {
  font-family: "QuattrocentoSans-Regular";
  width: 340px;
  height: 40px;
  outline: none;
  border-color: grey;
  border: 0;
  border-bottom: 1px solid grey;
  background: transparent;
  color: grey; }

.form > select {
  width: 340px;
  height: 40px;
  outline: none;
  border-color: grey;
  border: 0;
  border-bottom: 1px solid grey;
  background: transparent;
  color: grey; }

#email {
  width: 715px; }

.form > textarea {
  width: 715px;
  height: 144px;
  outline: none;
  border-color: grey;
  border: 0;
  border-bottom: 1px solid grey;
  background: transparent;
  color: grey; }

button {
  font-family: "MyriadProRegular";
  width: 215px;
  height: 63px;
  background-color: #89553b;
  border-color: #623621;
  font-size: 16pt;
  color: white;
  margin-left: 505px;
  margin-bottom: 160px; }

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 700px;
  background-image: url(../img/texture.jpeg);
  background-size: cover; }

.root__about {
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.photo {
  margin-left: 48px;
  margin-top: 105px;
  width: 654px;
  height: 410px;
  background-image: url(../img/about_us.jpg);
  background-size: cover;
  background-position: center; }

.about {
  width: 645px;
  height: 310px;
  margin-left: 48px;
  margin-top: 156px;
  margin-right: 27px;
  background-color: #f9f9fb;
  border: 1px solid #b2b1b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-about h2 {
  font-family: "Athelas-Regular";
  text-transform: uppercase;
  font-size: 23pt;
  text-align: center; }

.text-about > div {
  width: 400px;
  font-family: "QuattrocentoSans-Regular";
  font-size: 10pt;
  margin-top: 15px;
  text-align: center; }

.elements-about {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.elements-about img {
  border-radius: 100px;
  width: 100px;
  height: 100px; }

.elements-about h3 {
  font-family: "QuattrocentoSans";
  text-align: center;
  color: #323648;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid; }

.line {
  width: 1px;
  background-color: black;
  height: 20px;
  margin-top: -4px; }

.root__galery {
  margin-top: 99px;
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.galery__title {
  margin-top: 167px;
  text-transform: uppercase;
  font-family: 'Athelas';
  font-weight: 400;
  font-size: 52px;
  color: #d7794a; }

.galery__desc {
  width: 810px;
  margin: 50px;
  text-align: center;
  font-family: 'Helvetica';
  font-size: 22px;
  color: black;
  margin-bottom: 141px; }

.line__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 150px;
  padding-top: 10px;
  background: #1b2c33;
  bottom: 0;
  width: 100%; }

.menu__item {
  margin-bottom: 26px;
  margin-top: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white; }

.menu__item a {
  font-size: 14px;
  text-decoration: none;
  color: white; }

.line__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  height: 59px;
  background: black; }

.copyright__text {
  text-align: center;
  font-size: 16px;
  padding: 20px 50px;
  color: white;
  font-family: "MyriadPro"; }

.color_bac {
  background-color: #dad4d4; }

.galery {
  width: 100%;
  height: 720px;
  margin-top: 180px;
  background-color: #172830;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.slick-slide {
  width: 400px; }

.slider__down {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d6d6d6; }

.slider__right_botton {
  margin-left: 5%;
  width: 30px;
  height: 30px;
  border: 2px solid #a95e39;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slider__left_botton {
  margin-right: 5%;
  margin-left: 84%;
  width: 30px;
  height: 30px;
  border: 2px solid #a95e39;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.button__slider_center_l {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #a95e39; }

.button__slider_center_r {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #a95e39; }

.menu__item_telephon img {
  width: 20px;
  height: 20px; }

.menu__item_map img {
  width: 20px;
  height: 20px; }

.bg-google {
  width: 30px;
  height: 30px;
  margin-right: 245px;
  margin-top: 13px;
  background-image: url("../img/google.png"); }

.bg-twitter {
  width: 27px;
  height: 28px;
  margin-top: -27px;
  margin-left: 46px;
  background-image: url("../img/twitter.png"); }

.bg-instagram {
  width: 27px;
  height: 28px;
  margin-top: -32px;
  margin-left: 81px;
  background-image: url("../img/instagram.png"); }

.bg-facebook {
  width: 30px;
  height: 26px;
  margin-top: -25px;
  margin-left: 124px;
  background-image: url("../img/facebook (2).png"); }

@media (min-width: 748px) {
  body {
    min-width: 1080px; }

  .root__img_main {
    width: 100%; } }
@media (max-width: 1024) {
  .team__item {
    width: 1024px; }

  .item__img {
    width: 300px;
    height: 400px; } }
@media (max-width: 700px) {
  .root__img_main {
    width: 100%; }

  body {
    min-width: 1200px; }

  .team__item {
    width: 350px; }

  .item__img {
    width: 500px;
    height: 600px; }

  .root__menu_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .root__menu_top div {
      margin: 20px;
      margin-left: 60px;
      margin-bottom: 5px; }

  .team__description {
    width: 595px;
    margin: 100px;
    font-size: 35px; }

  .team__items-block {
    margin: 80px 0 0 0; }

  .team__items-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1000px; }

  .item__title {
    margin-bottom: 10px;
    font-size: 40px; }

  .item__desc {
    margin: 20px 0 0 0px;
    font-size: 30px;
    margin-bottom: 80px; }

  .counter__text {
    font-size: 25px; }

  .galery__title {
    font-size: 79px; }

  .galery__desc {
    font-size: 33px; }

  .line__menu {
    width: 100%;
    height: 300px; }

  .menu__item a {
    font-size: 20px; }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  #email {
    width: 345px; }

  .form > textarea {
    width: 340px;
    height: 100px;
    font-size: 10pt; }

  .button {
    width: 240px;
    height: 70px;
    font-size: 10pt;
    margin-left: 0; }

  .contact__title {
    margin-top: 0px;
    font-size: 62px; }

  .contact__description {
    width: 471px;
    font-size: 22px; }

  .form > input {
    width: 300px;
    height: 50px;
    font-size: 10pt; } }
/*# sourceMappingURL=style.css.map */